Flask
Flask-Mail
Flask-Migrate
Flask-Redis
Flask-Script
Flask-SQLAlchemy
Flask-WTF
MarkupSafe
mysql-connector-python
PyMySQL
pypinyin
python-dateutil
python-editor
redis
SQLAlchemy
uWSGI
Werkzeug
WTForms
